.section--hero {
  height: 100vh;
  width: 100%;
  background-color: #c7d0d9;
  position: relative;
  overflow: hidden;
}

body {
  background-color: #c7d0d9;
}

.pic {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.interact {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  right: 0;
  transform: translateX(75%);
  align-items: center;
  animation: hide 1000ms;
  bottom: 50%;
  /* transform: translateY(50%); */
  gap: 28px;
  overflow: hidden;
}

.interact button {
  padding: 30px 120px;
  border-radius: 60px;
  background-color: #0b0c0e;
  overflow: hidden;
  color: #ffffff;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

@keyframes peek {
  from {
    transform: translateX(75%);
  }
  to {
    transform: translateX(20%);
  }
}

@keyframes hide {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(75%);
  }
}

.interact:hover {
  transform: translateX(20%);
  animation: peek 1000ms;
}

.interact .icon {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  gap: 33px;
  padding-left: 33px;
}

.desc {
  position: absolute;
  bottom: 98px;
  display: flex;
  right: 50%;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 50px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  transform: translateX(50%);
  color: #f4f7fa;
  animation: move-rtl 10s linear infinite;
  overflow: hidden;
}
